body {
  background-color: gray;
  color: white;
  text-align: center;
  justify-items: center;
  margin: 0px;
  padding: 0px;
}
.media {
  display: none;
}
@media (max-width: 1482px) {
  .none {
    display: none;
  }
  .media {
    display: block;
    font-size: 10vw;
  }
}
.mestre {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 25px;
}
#container-horas {
  width: 80%;
  height: 80vh;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: left;
  border-radius: 20px;
  color: black;
  text-align: center;
}
.horas {
  background: white;
  border-radius: 10px;
  height: 90%;
  margin-left: 10px;
}
input {
  background-color: rgb(119, 119, 119);
  border-radius: 5px;
  color: white;
  width: 50%;
  margin: 0px 40px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.extra {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  color: black;
}
button {
  display: inline;
  width: 40%;
  margin-top: 10px;
  height: 20px;
  border-radius: 2px;
  border: none;
  background-color: rgb(182, 0, 0);
  color: white;
  border-radius: 4px;
  border: 2px solid black;
}

h3 {
  margin: 10px;
}
.block {
  display: block;
}
.verde {
  background-color: rgb(0, 182, 0);
  width: auto;
}

.verde:hover {
  background-color: rgb(2, 145, 2);
}
button:hover {
  background-color: rgb(145, 2, 2);
}
